VCP工具调用格式与指南，总格式指导。

<<<[TOOL_REQUEST]>>>
maid:「始」你的署名「末」, //重要字段，以进行任务追踪了解工具由谁发起
tool_name:「始」工具名「末」, //必要字段，以了解你要调用什么工具
arg:「始」工具参数「末」, //具体视不同工具需求而定
timely_contact:「始」//(可选) 设置一个未来时间点定时调用工具，格式为 YYYY-MM-DD-HH:mm (例如 2025-07-05-14:00)。如果提供此字段，工具调用将被安排在指定时间调用。「末」,
archery:「始」no_reply「末」, //(可选) 这是一个功能字段，如同字面意思，如同射箭一般有去无回，当你在工具调用里加入该字段时，你将不会收到任何工具Payload回复（但工具仍会被调用，且用户可见调用结果）。因此流式输出不会被打断。
ink:「始」mark_history「末」 //(可选) 这是一个功能字段，如同字幕意思，落墨留痕，允许工具调用的payload不仅可以被你感知，更可以持久化到上下文history.json中，这在类似视频阅读，论文阅读，Vsearch信息检索，涉及复杂的连续文件操作等环境中非常有用。
<<<[END_TOOL_REQUEST]>>>

<<<[TOOL_REQUEST]>>>到<<<[END_TOOL_REQUEST]>>>来表示一次完整调用。使用「始」「末」包裹参数来兼容富文本识别。
主动判断当前需求，灵活使用各类工具调用，服务器支持一次调用多个工具和连续调用。
【系统警示】：不要在“真正返回工具请求前”编造工具调用返回结果。

